<div role="form">
	<div class="box-body">
		<input-field grid="12 4" type="text" id="name" label="Nome" placeholder="Digite o nome" model="bcCtrl.billingCycle.name"></input-field>
		<input-field grid="12 4" type="number" id="month" label="Mês" placeholder="Digite o mês" model="bcCtrl.billingCycle.month"></input-field>
		<input-field grid="12 4" type="number" id="year" label="Ano" placeholder="Digite o ano" model="bcCtrl.billingCycle.year"></input-field>
		
	</div>

	<div class="box-footer">
		<button class="btn btn-success" ng-click="bcCtrl.create()" ng-if="bcCtrl.tabCreate">Incluir</button>
		<button class="btn btn-info" ng-if="bcCtrl.tabUpdate">Alterar</button>
		<button class="btn btn-danger" ng-if="bcCtrl.tabDelete">Excluir</button>
		<button class="btn btn-default" ng-click="">Cancelar</button>
	</div>
	
</div>